# PANDAS
* Data Preprocessing in Machine Learning using Pandas
* Data preprocessing is required tasks for cleaning the data and making it suitable for a machine learning model which also increases the accuracy and efficiency of a machine learning model
* Pandas is an open source Python package that is most widely used for data science/data analysis and machine learning tasks. It is built on top of another package named Numpy, which provides support for multi-dimensional arrays. Preprocessing is the process of doing a pre-analysis of data in order to transform them into a standard and normalized format.

** Preprocessing involves the following aspects: **
* missing values
* data centralization
* data normalization
* data mining

In [4]:
import pandas as pd
data = {
    'cars': ['Honda', 'Toyota', 'Ford', 'BMW', 'Fiat'],
    'model':['2007', '2008', '2009', '2010', '2011'],
    'passenger':[4, 5, 5, 5, 6]
}

df = pd.DataFrame(data)
df

     cars model  passenger
0   Honda  2007          4
1  Toyota  2008          5
2    Ford  2009          5
3     BMW  2010          5
4    Fiat  2011          6

In [ ]:
#converting the dataframe into a csv file
df.to_csv('cars.csv', index=False)

In [6]:
#reading csv file 
pd.read_csv('cars.csv')

     cars  model  passenger
0   Honda   2007          4
1  Toyota   2008          5
2    Ford   2009          5
3     BMW   2010          5
4    Fiat   2011          6

In [7]:
# create a dataframe with two features calories and duration
data = {
    'calories': [420, 500, 390],
    'duration': [50, 60, 45]
}
df = pd.DataFrame(data)
df

   calories  duration
0       420        50
1       500        60
2       390        45