# PANDAS
* Data Preprocessing in Machine Learning using Pandas
* Data preprocessing is required tasks for cleaning the data and making it suitable for a machine learning model which also increases the accuracy and efficiency of a machine learning model
* Pandas is an open source Python package that is most widely used for data science/data analysis and machine learning tasks. It is built on top of another package named Numpy, which provides support for multi-dimensional arrays. Preprocessing is the process of doing a pre-analysis of data in order to transform them into a standard and normalized format.

**Preprocessing involves the following aspects:**
* missing values
* data centralization
* data normalization
* data mining

In [9]:
import pandas as pd
data = {
    'cars': ['Honda', 'Toyota', 'Ford', 'BMW', 'Fiat'],
    'model':['2007', '2008', '2009', '2010', '2011'],
    'passenger':[4, 5, 5, 5, 6]
}

df = pd.DataFrame(data)
df

     cars model  passenger
0   Honda  2007          4
1  Toyota  2008          5
2    Ford  2009          5
3     BMW  2010          5
4    Fiat  2011          6

In [165]:
#converting the dataframe into a csv file
df.to_csv('cars.csv', index=False)

In [4]:
#reading csv file 
pd.read_csv('cars.csv')

     cars  model  passenger
0   Honda   2007          4
1  Toyota   2008          5
2    Ford   2009          5
3     BMW   2010          5
4    Fiat   2011          6

In [167]:
# create a dataframe with two features calories and duration
data = {
    'calories': [420, 500, 390],
    'duration': [50, 60, 45]
}
df = pd.DataFrame(data)
df

   calories  duration
0       420        50
1       500        60
2       390        45

In [168]:
# select a specific row
print(df.loc[1])

calories    500
duration     60
Name: 1, dtype: int64

In [169]:
print(df.loc[[0,1]])

   calories  duration
0       420        50
1       500        60

In [170]:
#give your own index and access through it.
data={
    'calories':[420,300, 390],
    'duration': [50, 40, 45]

}

df= pd.DataFrame(data, index=["day1","day2", "day3"])
df

      calories  duration
day1       420        50
day2       300        40
day3       390        45

In [171]:
print(df.loc[['day1','day2']])

      calories  duration
day1       420        50
day2       300        40

## Data cleaning with pandas

 **Bad data can be:** 
* empty cells
* Data in wrong format
* wrong date
* duplicates

In [11]:
df = pd.read_csv('dataset.csv')
df.head(5)

ParserError: Error tokenizing data. C error: Expected 6 fields in line 13, saw 7

In [12]:
df.tail(5)

     cars model  passenger
0   Honda  2007          4
1  Toyota  2008          5
2    Ford  2009          5
3     BMW  2010          5
4    Fiat  2011          6

In [13]:
# remove ' from Date column
df['Date'] = df['Date'].str.replace("'", "")
df.head(5)

KeyError: 'Date'

In [14]:
# return a dataset with no empty cells
new_df = df.dropna()
new_df

     cars model  passenger
0   Honda  2007          4
1  Toyota  2008          5
2    Ford  2009          5
3     BMW  2010          5
4    Fiat  2011          6

In [ ]:
df_new2 = df.fillna(130)
df_new2

    Duration  Pulse        Date  Minpulse  Maxpulse  Calories
0          0     60  2020/12/01       110     130.0     409.1
1          1     60  2020/12/02       117     145.0     479.0
2          2     60  2020/12/03       103     135.0     340.0
3          3     45  2020/12/04       109     175.0     282.4
4          4     45  2020/12/05       117     148.0     406.0
5          5     60  2020/12/06       102     127.0     300.0
6          6     60  2020/12/07       110     136.0     374.0
7          7    450  2020/12/08       104     134.0     253.3
8          8     30  2020/12/09       109     133.0     195.1
9          9     60  2020/12/10        98     124.0     269.0
10        10     60  2020/12/11       103     147.0     329.3
11        11     60  2020/12/12       100     120.0     250.7
12        12     60  2020/12/12       100     120.0     250.7
13        13     60  2020/12/13       106     130.0     345.3
14        14     60  2020/12/14       104     132.0     379.3
15        15     60  2020/12/15        98     123.0     275.0
16        16     60  2020/12/16        98     120.0     215.2
17        17     60  2020/12/17       100     120.0     300.0
18        18     45  2020/12/18        90     112.0     130.0
19        19     60  2020/12/19       103     123.0     323.0
20        20     45  2020/12/20        97     125.0     243.0
21        21     60  2020/12/21       108     131.0     364.2
22        22     45         130       100     119.0     282.0
23        23     60  2020/12/23       130     101.0     300.0
24        24     45  2020/12/24       105     132.0     246.0
25        25     60  2020/12/25       102     126.0     334.5
26        26     60  12/26/2020       100     120.0     250.0
27        27     60  2020/12/27        92     118.0     241.0
28        28     60  2020/12/28       103     132.0     130.0
29        29     60  2020/12/29       100     132.0     280.0
30        30     60  2020/12/30       102     129.0     380.3
31        31     60  2020/12/31        92     115.0     243.0

In [ ]:
## fill specific column's NaN value
df_new3=df
df_new3['Calories']= df['Calories'].fillna(150)
df_new3

    Duration  Pulse        Date  Minpulse  Maxpulse  Calories
0          0     60  2020/12/01       110     130.0     409.1
1          1     60  2020/12/02       117     145.0     479.0
2          2     60  2020/12/03       103     135.0     340.0
3          3     45  2020/12/04       109     175.0     282.4
4          4     45  2020/12/05       117     148.0     406.0
5          5     60  2020/12/06       102     127.0     300.0
6          6     60  2020/12/07       110     136.0     374.0
7          7    450  2020/12/08       104     134.0     253.3
8          8     30  2020/12/09       109     133.0     195.1
9          9     60  2020/12/10        98     124.0     269.0
10        10     60  2020/12/11       103     147.0     329.3
11        11     60  2020/12/12       100     120.0     250.7
12        12     60  2020/12/12       100     120.0     250.7
13        13     60  2020/12/13       106       NaN     345.3
14        14     60  2020/12/14       104     132.0     379.3
15        15     60  2020/12/15        98     123.0     275.0
16        16     60  2020/12/16        98     120.0     215.2
17        17     60  2020/12/17       100     120.0     300.0
18        18     45  2020/12/18        90     112.0     150.0
19        19     60  2020/12/19       103     123.0     323.0
20        20     45  2020/12/20        97     125.0     243.0
21        21     60  2020/12/21       108     131.0     364.2
22        22     45         NaN       100     119.0     282.0
23        23     60  2020/12/23       130     101.0     300.0
24        24     45  2020/12/24       105     132.0     246.0
25        25     60  2020/12/25       102     126.0     334.5
26        26     60  12/26/2020       100     120.0     250.0
27        27     60  2020/12/27        92     118.0     241.0
28        28     60  2020/12/28       103     132.0     150.0
29        29     60  2020/12/29       100     132.0     280.0
30        30     60  2020/12/30       102     129.0     380.3
31        31     60  2020/12/31        92     115.0     243.0

In [176]:
df= pd.read_csv('dataset.csv')

ParserError: Error tokenizing data. C error: Expected 6 fields in line 13, saw 7